* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    color:#ffffff;
    font-family: 'aktiv';
}

main {
    padding-top: 40px;
}

@font-face {
    font-family: 'aktiv';
    src: url('font/AktivGrotesk-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'aktiv';
    src: url('font/AktivGrotesk-Bold.ttf');
    font-weight: 700;
}

h1 {
    padding: 2%;
    text-align: center;
    color: rgb(225, 255, 0);
    font-weight: bold;
    max-width: 100%;
}

h2 {
    padding: 2%;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

h2.title-second {
    margin-top: 20px;
    padding: 0 30px;
    text-align: left;
    color: rgb(225, 255, 0);
    font-size: 32px;
}


h3 {
    padding: 2%;
    font-weight: 400;
    font-size: 36px;
    color: rgb(225, 255, 0);
}


h4 {
    padding: 2%;
    font-weight: 400;
    font-size: 30px;
    color:#fff;
}



h5 {
    padding: 2%;
    font-weight: 400;
    font-size: 28px;
    color:#fff
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Layout */

.col-12 img {
    max-width: 50%;
}

.col-6 img {
    max-width: 75%;
}

.col-4 img {
    max-width: 100%;
    padding-top: 5%;
}

.image img  {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
}


/* Header */
.navbar .logo img {
    max-width: 90px;
    justify-content: left;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%, 0%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
}

.nav-links a {
    color: #ffffff;
    display: inline-flex;
    text-decoration: none;

}

.menu {
    display: flex;
    gap: none;
    font-size: 2.5vw;
    margin: 0;
    align-items: center;
    text-decoration: none;
}

.menu li {
    margin: 3px 5px ;
    text-decoration: none;
}

.menu li a {
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.menu li a:hover {
    color: black;
    background-color:rgb(225, 255, 0);
    transition: 0.3s ease;
}

.menu li a.active{
    background-color: rgb(225, 255, 0);
    color: #000;
}



/* Intro */
.intro {
    width: 100vw;
    height: 100vh;
    display:inherit;
    justify-content: center;
    align-items: center;
}

.intro a {
    text-decoration: none;
    color: #000;
    background-color: #bdbdbd;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: bold;
}

.intro a:hover {
    background-color: rgb(225, 255, 0);
    color: #000;
    transition: .2s all;

}

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.full-screen-video-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Homepage */
.homeimg .container .row .col-12 img {
    max-width: 100%;
    padding: 5%;
}

.homeimg .container .row .col-12 p {
    padding: 2%;
    max-width: 100%;
    font-size: 40px;
    font-weight: bold;
}


/* About */
.aboutimg {
    background-color: #000;
    display: flex;
}

.aboutimg p {
    padding: 5%;
    color: rgb(225, 255, 0);
    font-size: 100%;
    text-align: left;

}


/* Eventi */
.eventsimg p {
    padding: 5%;
    color: rgb(225, 255, 0);
    font-size: 100%;
    text-transform: uppercase;
    text-align: left;
}


/* Pages */
.sottosuonobasic img {
    padding: 2%;
    max-width: 100%;
}

.contatti {
    padding: 10% 2%;
    font-size: 100%;
}

.contatti a {
    color: rgb(225, 255, 0);
}


/* Hamburger menu */

input[type=checkbox] {
    display: none;
} 

.hamburger {
    display: none;
    font-size: 26px;
    user-select: none;
    cursor: pointer;
}


/* Footer */
footer {
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 2%;
    color: #fff;
    text-align: center;
    background-color: #000;
}

footer p {
    padding: 2%;
    margin: 0;
}

footer a {
    font-size: 100%;
    text-decoration: none;
    color: rgb(225, 255, 0);
}


footer a:hover {
    color: rgb(225, 255, 0);
}

.designedby p {
    color: #fff;
    padding: 2%;
    font-size: 100%;
    text-transform: none;
    text-align: center;
}


/* Icone */

.fa-instagram {
    padding: 1%;
    border-radius: 5px;
    border: .5px;
    border-style: solid;
    background-color: rgba(245, 78, 0, 0);
    color: #ffffff;
    transition: all .3s;
}

.fa-telegram {
    padding: 1%;
    border-radius: 5px;
    border: .5px;
    border-style: solid;
    background-color: rgba(0, 183, 255, 0);
    color: #ffffff;
    transition: all .3s;
}

.fa:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}



@media (max-width: 768px) { 
    .menu {
       display: none;
       position: absolute;
       background-color:rgb(0, 0, 0);
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
       z-index: 5;
    }

    .menu li {
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
    }
    .menu li:first-child {
        margin-top: 10px;
    }

    .menu .align {
        display: flex;
        height: 100%;
    }

    h2 {
        font-size: 32px;
    }



.menu li:hover {
        display: inline-block;
        background-color:rgb(225, 255, 0);
        transition: 0.3s ease;
        border-radius: 5px;
}


input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}